@font-face {
    font-family: Consolas;
    src: url("CONSOLA.TTF");
}

body {
    color: black;
}

span {
    -webkit-text-stroke: 3px red;
    font-size: 500%;
    font-family: Consolas, Calibri;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

#static {
    background-size: cover;
}

.secret {
    position: absolute;
    width: 10%;
    height: 10%;
}

.secret img {
    display: none;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.secret:hover img {
    display: block;
}

.dj {
    left: 77%;
    top: 88%;
}

.russo {
    left: 8%;
    top: 9%;
}

.sabrina {
    left: 51%;
    top: 5%;
}

.duncan {
    left: 31%;
    top: 76%;
}